.post-card {
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: #1f1f1f;
}

.card-header {
    background-color: #2c2c2c;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #444;
}

.card-img-top {
    object-fit: cover;
    cursor: pointer;
    border-radius: 0;
}

.card-body {
    background-color: #2c2c2c;
    border-radius: 0 0 8px 8px;
}

.read-more-link {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

.read-more-link:hover {
    text-decoration: underline;
    color: gray;
}

.post-time {
    color: #aaa;
    font-size: 0.85rem;
}

#previewImage {
    max-height: 90vh;
}