{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/me.css">
{% endblock %}

{% block main %}
<div class="profile-header">
    <div class="user-username">@{{ user.username }}</div>
    <div class="user-name">{{ user.name }}</div>
    <div class="user-interactions">
        <div class="count-posts">0 posts</div>
        <div class="count-followers">10 followers</div>
        <div class="count-following">11 following</div>
    </div>
</div>
<!-- Posts Grid -->
<div class="posts-grid container">
    <div class="row" id="user-posts">
        <!-- Posts rendered here -->
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/js/me.js"></script>
{% endblock %}