{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/profile.css">
{% endblock %}

{% block main %}
<div class="profile-header">
    <div class="user-username">@{{ profile.username }}</div>
    <div class="user-name">{{ profile.name }}</div>
    <div class="user-interactions">
        <div class="count-posts">{{ profile.count_posts }} posts</div>
        <div class="count-followers">10 followers</div>
        <div class="count-following">11 following</div>
    </div>
</div>
<!-- Posts Grid -->
<div class="posts-grid container">
    <div class="row" id="user-posts">
        <!-- Posts rendered here -->
    </div>
</div>
{% endblock %}

{% block extra_block %}
<div class="modal fade" id="previewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content bg-dark text-center">
            <div class="modal-body p-0">
                <img id="previewImage" src="" class="img-fluid" alt="Full resolution preview" />
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/js/profile.js"></script>
{% endblock %}