<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/silverb.svg" type="image/x-icon">
    <title>myinsta</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block extra_css %} {% endblock %}
</head>

<body class="text-light">
    <!-- Sidebar -->
    <div class="sidebar d-flex flex-column align-items-center">
        <a class="myinsta-logo" href="/">myinsta</a>
        <a class="user-profile-link" href="/{{ user.username }}">@{{ user.username }}</a>

        <button id="btnCreate" class="btn btn-success w-100 mt-5"><i class="bi bi-plus-square"></i></button>

        <!-- Button Search -->
        <button id="btnSearch" class="btn btn-dark w-100 mt-3"><i class="bi bi-search"></i></button>

        <!-- Hidden search container -->
        <div id="searchContainer" class="search-container collapse mt-2 w-100">
            <!-- Search input -->
            <input id="searchInput" type="text" class="search-input" placeholder="Search..." autocomplete="off">
            <!-- Search results -->
            <div id="searchResults" class="search-results"></div>
        </div>
        <div class="mt-auto w-100">
            <a href="/auth/logout" class="btn btn-outline-secondary w-100"><i class="bi bi-box-arrow-left"></i></a>
            <footer>
                <small>&copy; 2025 Nguyen Phuc Vinh. All rights reserved.</small>
            </footer>
        </div>
    </div>
    <!-- Main Content -->
    <div class="main-content">
        {% block main %}
        <!-- Main content -->
        {% endblock %}
    </div>

    {% block extra_block %}
    {% endblock %}
    <!-- Modal Create Post -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Create Post</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <form id="create-form" class="modal-body" enctype="multipart/form-data">
                    <!-- Step 1: Drop Zone -->
                    <div id="step1">
                        <div class="mb-3">
                            <div id="dropZone" class="drop-zone">
                                <span class="drop-zone__prompt">Drag photos or videos here</span>
                            </div>
                            <!-- Hidden file input -->
                            <input name="file" id="file" type="file" class="d-none" required
                                accept=".png, .jpg, .jpeg, .gif, video/*" />
                        </div>
                    </div>
                    <!-- Step 2: Description -->
                    <div id="step2" class="d-none">
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea name="description" id="description"
                                class="form-control bg-dark bg-gradient text-white" rows="10" required></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Post</button>
                        </div>
                    </div>
                    <div id="createError" class="mt-2 text-danger d-none">
                        Error when creating
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal preview post -->
    <div class="modal fade" id="postModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content bg-dark text-light">
                <div class="modal-body p-0">
                    <div class="row">
                        <!-- Left Column: Full image -->
                        <div class="col-md-6 p-2">
                            <img id="postModalImage" src="" alt="Post image">
                        </div>
                        <!-- Right Column: Post details (author, description, actions, comments, comment input) -->
                        <div class="col-md-6 d-flex flex-column" style="max-height:80vh;">
                            <!-- Details container -->
                            <div id="postModalDetails" class="p-3" style="flex:1; overflow-y: auto;">
                                <!-- Author -->
                                <div id="postModalAuthor" class="mb-2"></div>
                                <!-- Description -->
                                <div id="postModalDescription" class="mb-2"></div>
                                <!-- Action buttons (like button) -->
                                <div id="postModalActions" class="mb-2">
                                    <button id="postModalLikeBtn" class="btn btn-link p-0">
                                        <i class="bi"></i>
                                    </button>
                                </div>
                                <!-- Comment list -->
                                <div id="postModalComments"></div>
                            </div>
                            <!-- Comment input group -->
                            <div class="p-3 border-top">
                                <form class="form-floating" id="postModalForm">
                                    <div class="input-group">
                                        <input type="text" id="postModalCommentInput" class="form-control"
                                            placeholder="Add a comment...">
                                        <button type="submit" class="btn btn-secondary" id="postModalCommentSubmit">
                                            <i class="bi bi-send-fill"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="/static/js/base.js"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>