<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login - myinsta</title>
    <link rel="shortcut icon" href="/static/img/silverb.svg" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
</head>

<body data-bs-theme="dark">
    <div class="login-container">
        <div class="card login-card">
            <div class="card-body">
                <div class="login-logo">myinsta</div>

                <form id="login-form" class="step active">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="identifier" name="identifier" placeholder=" "
                            required autofocus autocomplete="username" tabindex="1" />
                        <label for="identifier">Username or Email</label>
                    </div>
                    <div class="mb-3 input-group">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="password" name="password" placeholder=" "
                                required autocomplete="current-password" tabindex="2" />
                            <label for="password">Password</label>
                        </div>
                        <button class="btn btn-outline-secondary" type="button" id="btn-display-password"><i
                                class="bi bi-eye-slash-fill"></i></button>
                    </div>

                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-primary" tabindex="3">Login</button>
                    </div>

                    <div class="text-center">
                        <small class="text-register">Don't have an account?</small>
                        <a href="/register" class="register-link ms-1" tabindex="4">Register</a>
                    </div>
                </form>

                <form id="otp-form" class="step">
                    <div class="form-floating mb-3">
                        <div class="container" id="otp-container">
                            <div class="row mb-3">
                                <p class="text-center fw-bold fs-5">Enter OTP</p>
                            </div>

                            <div class="row otp-inputs mb-3 g-2">
                                <div class="col">
                                    <input type="text" maxlength="6" inputmode="numeric" pattern="[0-9]*"
                                        class="form-control text-center otp" required autocomplete="one-time-code">
                                </div>
                                <div class="col">
                                    <input type="text" maxlength="6" inputmode="numeric" pattern="[0-9]*"
                                        class="form-control text-center otp" required>
                                </div>
                                <div class="col">
                                    <input type="text" maxlength="6" inputmode="numeric" pattern="[0-9]*"
                                        class="form-control text-center otp" required>
                                </div>
                                <div class="col">
                                    <input type="text" maxlength="6" inputmode="numeric" pattern="[0-9]*"
                                        class="form-control text-center otp" required>
                                </div>
                                <div class="col">
                                    <input type="text" maxlength="6" inputmode="numeric" pattern="[0-9]*"
                                        class="form-control text-center otp" required>
                                </div>
                                <div class="col">
                                    <input type="text" maxlength="6" inputmode="numeric" pattern="[0-9]*"
                                        class="form-control text-center otp" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <footer class="copyright text-center">
                    <small>&copy; 2025 Nguyen Phuc Vinh. All rights reserved.</small>
                </footer>
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="/static/js/login.js"></script>
</body>

</html>