{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/profile.css">
{% endblock %}

{% block main %}
<div class="profile-header">
    <div class="user-username">@{{ profile.username }}</div>
    <div class="user-name">{{ profile.name }}</div>
    <div class="user-interactions">
        <div class="count-posts">{{ profile.count_posts }} posts</div>
        <div class="count-followers">{{ profile.followers }} followers</div>
        <div class="count-following">{{ profile.following }} following</div>
    </div>
    {% if profile.relationship %}
    <button
        class="profile-action mt-2 btn {% if profile.relationship == 'Follow' %}btn-outline-light{% else %}btn-outline-info{% endif %}"
        user_id="{{ profile.id }}">{{ profile.relationship }}</button>
    {% endif %}
</div>
<!-- Posts Grid -->
<div class="posts-grid container">
    <div class="row" id="user-posts">
        <!-- Posts rendered here -->
    </div>
</div>
{% endblock %}

{% block nav_action %}
<a class="nav-link text-light" href="/account"><i class="bi bi-sliders"></i></a>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"
    integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
    crossorigin="anonymous"></script>
<script src="/static/js/profile.js"></script>
{% endblock %}